// ======================================================================== /
// Disp Front
// ======================================================================== /
.disp_front {

    .evo_front_page {

        .title_widget_front {
            margin-top: 0;
        }

        .evo_widget {
            background-color: @w;
            box-shadow: @box-shadow;
            padding: 30px;
            margin-bottom: 30px;
        }

    }

}
