// ======================================================================== /
// Stain Main Style
// ======================================================================== /
@import "assets/less/_variable";
@import "assets/less/_global";
@import "assets/less/_grid";

// Content
// ======================================================================== /
@import "assets/less/_header";
@import "assets/less/_content";
@import "assets/less/_widget";
@import "assets/less/_footer";

// Disp
// ======================================================================== /
@import "assets/less/_global_disp";


// Disp=single form
.evo_form__comment {

	.form-group {

		label, div {
			text-align: left;
		}

		.controls {

         #uploadfile_A1 {
				display: inline-block;
				margin-right: 2%;
			}

			.help-inline {
				height: auto;
				text-align: left;
				font-size: 84%;
				color: #999;
				display: inline-block;
			}

			.form-control-static {
				text-align: left;
			}
		}
	}
}

.evo_post {
	margin-bottom: 2em;

	.small.text-muted {
		margin: 4px 0 10px;

		a, a .glyphicon {
			color: inherit;
		}
	}

	.evo_details {
		.panel {

			.nav_album_number {
				display: inline;
			}
		}
	}
}

// On disp=single, colors links in post to grey
div.evo_print a {
	color: #777 !important;

	&:hover {
		color: #337ab7 !important;
	}
}

div.bSideItem {
	background: #F7F5FA;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 10px;
	text-shadow: 0 1px 0 #FFFFFF;

	h4 {
		margin-top: 0;
	}
}

// Login/Register forms:
.skin-form {

	.panel-body {

		.panel {
			border: none;
			box-shadow: none;
		}

		.panel-body {
			padding: 0;
		}
	}

	.fieldset {
		margin: 0;
		div.input {
			margin: 0;
		}
	}

	.control-buttons, div.input {
		padding: 0;
		width: 100%;
		text-align: center;
	}
}

.wrap-form-login,
.wrap-form-lostpass,
.wrap-form-register,
.wrap-form-activation {
	min-width: 290px;
	margin: 1.5em auto auto;

	.panel {
		margin: 5px 0;
	}

	.panel-body {
		padding: 20px 30px 0;
	}
}

.wrap-form-login {
	max-width: 400px;
}

.wrap-form-lostpass {
	max-width: 480px;

	#ffield_x label {
		display: none;
	}
}

.wrap-form-activation {
	max-width: 530px;
	#activateinfo_form .control-buttons{
		text-align: left;
	}
}

.wrap-form-register {
	max-width: 580px;

	.control-buttons{
		text-align: left;
	}

	&.register-disabled {
		width: 350px;
	}

	.form-control {
		&#country, &#u {
			width: 100%;
		}
	}
}

.form-login-links {
	padding: 0 5px;
	font-size: 92%;
}

.form-login {

   fieldset {
		margin-bottom: 20px;
	}

	.controls {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.control-buttons {
		margin-left: 0;
	}

	input.form-control[type=text], input.form-control[type=password] {
		width: 100%;
	}

	.btn {
		margin-top: 5px;
	}
}

#login_form {
	.control-buttons {
		text-align: left;
	}
}

.standard_login_link {
	text-align: center;
	margin: 3em 0 1ex 0;
}

.form_footer_notes {
	margin-top: 0;
}


// Messages
div.action_messages, div.log_container {
	margin: 0;
}

.evo_post_content .evo_details .evo_form__comment {
	fieldset .info {
		margin: 0px 0px 22px 0px;
	}

	fieldset {
		margin: 5px 0px !important;
	}

	fieldset {
		margin: 0px;

		div.label {
			float: none !important;
			padding-left: 0px;
			text-align: center;
			.btn {
				margin: 5px;
				display: inline-block;
			}
		}
	}
}


// Positions on the action buttons near page titles
.evo_post_title {
	display: table;
	h2 {
		display: table-cell;
		margin: 0;
		padding: 20px 0 10px;
	}
	.btn-group {
		display: table-cell;
		padding: 20px 0 10px 30px;
		vertical-align: middle;
	}
}

.post_images img {
	transition: all 0.15s ease-in-out;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	-ms-transition: all 0.15s ease-in-out;
}

.post_images figure:hover img {
	transform:scale(1.06);
	-ms-transform:scale(1.06); /* IE 9 */
	-webkit-transform:scale(1.06); /* Safari and Chrome */
}

.evo_image_legend {
	display: table;
}

// Responsive styles
@media (min-width: 992px) and (max-width: 1199px) {
}
@media screen and (max-width: 1199px) {
	// .float-right {
	// 	float: none !important;
	// }
	.post_images {
		padding-bottom: 10px;
	}
}

@media screen and (max-width: 991px) {
	.single-image {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media screen and (max-width: 767px) {
	.evo_details, .col-lg-12 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.post_images {
		display: inline-block;
		text-align: center;
	}
}

@media screen and (max-width: 500px) {
	.float-right {
		padding: 0px !important;
	}
	.evo_image_index div {
		margin: 0px 0px 40px 0px !important;
		&:nth-child(1) {
			margin-top: 30px !important;
		}
		span {
			height: auto !important;
		}
	}
	.single-image {
		margin: 0px 0px 25px 0px;
	}
	.nav_album {
		.nav_album_title {
			margin-top: 6px;
			a {
				font-size: 16px;
				margin-right: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
			}
		}
		.nav_album_title .evo_status {
			top: -1px;
		}
	}
}

// Fixes
.bt-content {
	font-size: 14px;

	.bubbletip_user ul li {
		margin-top: 15px;
	}
}

#ffield_uploadfile_A1 {

	.input {
		text-align: left;

		input, span {
			display: inline-block;
		}
	}
}
