// ======================================================================== /
// Style for Disp Gallery - Homepage
// ======================================================================== /
#main_content {

   // Feature Post
   // ======================================================================== /
   .feature_post {
      background-color: @w;
      border-radius: 0;

      .evo_post_title {

         h2 {
            font-family: @font_heading;
            font-weight: 700;
            color: @c4;
         }
      }

      .evo_post__excerpt_text {
         font-size: 1.6rem;
         // letter-spacing: 1px;
      }

      .evo_post__excerpt_more_link {
         display: table;
         padding: 15px 25px;
         margin-top: 15px;
         background-color: @c5;

         a {
            font-family: @font_heading;
            font-size: 1.3rem;
            font-weight: 400;
            text-transform: uppercase;
            color: @w;

            &:hover {
               text-decoration: none;
            }
         }
      }

   }

}

// Posts Gallery
// ======================================================================== /
.posts_gallery {
   margin-left: -10px;
   margin-right: -10px;

   img {
      max-width: 100%;
      height: auto;
      border-radius: 0;
   }

   // Gallery Column Style
   // ======================================================================== /
   .evo_post, .feature_post{
      position: relative;
      float: left;
      padding: 10px;
      margin: 0 auto;

      &.one_column {
         max-width: 100%;
      }

      &.two_column {
         max-width: 50%;
      }

      &.three_column {
         max-width: 33.333%;

         .main_content_gallery {

            .btn_cat {
               font-size: 1.2rem;
               // padding: 10px 20px;
            }
         }
      }

      &.four_column {
         max-width: 25%;

         .main_content_gallery {

            .btn_cat {
               font-size: 1.2rem;
               padding: 8px 15px;
            }
         }
      }

      @media screen and ( max-width: @M ) {
         max-width: 50%;
      }

      @media screen and ( max-width: @S ) {
         float: 0;
         max-width: 100%;
         width: 100%
      }

      // &:nth-child(2) {
      //    max-width: 33.333%;
      // }

   }

   .main_content_gallery {
      position: relative;
      overflow: hidden;
      transition: all 0.42s ease-in-out;

      .cat_title {
         position: absolute;
         z-index: 10;
         top: 0;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         visibility: hidden;
         opacity: 0;

         transition: all 0.42s ease-in-out;

         &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: @w;
            z-index: -1;
            visibility: hidden;
            opacity: 0;
            transition: all 0.42s ease-in-out;
         }

         &:hover, &:active, &:focus {
            text-decoration: none;
         }

         &_content {
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            z-index: 9;
            text-align: center;
         }

         &_link{
            display: block;
            font-family: @font_heading;
            font-size: 2.8rem;
            font-weight: 700;
            text-transform: uppercase;;
            color: @c4;
            padding: 0 15px;
            margin: 0 auto;
         }
      }

      // Button View when Image Hover
      // ======================================================================== /
      .btn_cat {
         position: relative;
         display: inline-block;
         font-family: @font_heading;
         font-size: 1.3rem;
         letter-spacing: 1px;
         text-transform: uppercase;
         padding: 10px 20px;
         border-radius: 20px;
         margin-top: 20px;
         outline: 0;
         border: 0;
         color: @w;
         background-color: @btn_view;
         z-index: 1;
         // overflow: hidden;
         transition: all 0.3s ease-in-out;

         &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            border: 1px solid transparent;
            background-color: @primary;
            z-index: -1;
            transform: scale(0);
            transition: all 0.3s ease-in-out;
         }

         &:hover {
            color: @w;
            // background-color: @w;

            &:after {
               transform: scale(1);
               // height: 150%;
               // width: 150%;
            }
         }
      }

      // Post without Image
      // ======================================================================== /
      .no_image {
         min-width: 100%;
      }

      // Feature Image
      // ======================================================================== /
      .feature_image {

      }

      &:hover, &:active, &:focus {
         box-shadow: 0px 6px 12px -6px rgba(0, 0, 0, 0.3);

         .cat_title {
            opacity: 1;
            visibility: visible;

            &::after {
               visibility: visible;
               opacity: 0.8;
            }
         }
      }

   }

}


.main_content_gallery{

   // Flip
   // ======================================================================== /
   &.flip {

      .cat_title {
         transform: rotateY(180deg);

         &::after {
            transform: rotateY(180deg);
         }

      }

   }

   // Zoom
   // ======================================================================== /
   &.zoom {

      .cat_title {

         &_content {
            transform: scale(0);
            transition: all 0.4s ease-in-out;
         }

         &::after {
            transform: scale(2);
         }

      }

      .feature_image {

         img {
            transition: all 0.4s ease;
         }
      }

   }

   // Sweep Right
   // ======================================================================== /
   &.sweep_right {

      .cat_title {
         transform: translateX(-100%);

         &_content {
            // transition: all 0.4s ease-in-out;
         }

         &::after {
            transform: translateX(-100%);
         }

      }

      .feature_image {

         img {
            transition: all 0.4s ease;
         }
      }
   }

   // Sweep Left
   // ======================================================================== /
   &.sweep_left {

      .cat_title {
         transform: translateX(100%);

         &_content {
            // transition: all 0.4s ease-in-out;
         }

         &::after {
            transform: translateX(100%);
         }

      }

      .feature_image {

         img {
            transition: all 0.4s ease;
         }
      }
   }


   /////////////////////////////////////////////////////////////////////////////
   // Hover Action
   // ======================================================================== /
   &:hover {

      // Flip
      // ======================================================================== /
      &.flip {

         .cat_title {
            transform: rotateY(0deg);

            &::after {
               transform: rotateY(0deg);
            }
         }

      }

      // Zoom
      // ======================================================================== /
      &.zoom {

         .cat_title {
            transition: all 0.3s ease-in-out;

            &_content {
               transform: scale(1);
            }

            &::after {
               opacity: 0.9;
               transform: scale(1);
            }

            .btn_cat {

               &:hover {
                  color: @w;
               }
            }
         }

         .feature_image {

            img {
               transition: all 0.4s ease-in-out;
               transform: scale(2);
            }
         }
      }

      // Sweep Right and Left
      // ======================================================================== /
      &.sweep_right, &.sweep_left  {

         .cat_title {
            transform: translateX(0);
            transition: all 0.3s ease-in-out;

            &_content {

            }

            &::after {
               opacity: 1;
               transform: translateX(0);
            }

            .btn_cat {

               &:hover {
                  // color: @w;
               }
            }
         }

         .feature_image {

            img {
               transition: all 0.4s ease-in-out;
               transform: translateX(100%);
            }
         }
      }

      // Sweep Left
      // ======================================================================== /
      &.sweep_left {
         .feature_image {

            img {
               transition: all 0.4s ease-in-out;
               transform: translateX(-100%);
            }
         }
      }

   }

}
