// ======================================================================== /
// Posts Style
// ======================================================================== /
.posts_list {
   max-width: 1000px;
   width: 100%;
   height: auto;
   margin: 0 auto;

   img {
      max-width: 100%;
      height: auto;
      border-radius: 0;
   }

   .evo_posts {
      display: inline-block;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      margin-bottom: 60px;

      .feature__image {
         display: table-row;
         width: 920px;
         height: auto;

         img {
            opacity: 0.95;
         }
      }

      // Posts Title
      .posts__title {
         position: absolute;
         top: 30px;
         left: 0;
         z-index: 2;

         h3 {
            font-family: @font_heading;
            font-size: 1.6rem;
            margin: 0;
            padding: 0;
            padding: 15px 20px;
            color: @w;
            background-color: @primary;
         }

         i.fa {
            color: @w;
            font-size: 1.3rem;
            padding-right: 8px;
         }
      }

      // Posts Info
      .posts__info {
         position: absolute;
         bottom: 0;
         left: 0;
         background: @w;
         padding: 20px 15px;
         width: 100%;
      }

   }



}
