// ======================================================================== /
// Posts Style
// ======================================================================== /
.posts_list {
   // max-width: 1000px;
   width: 100%;
   height: auto;
   margin: 0 auto;

   img {
      max-width: 100%;
      height: auto;
      border-radius: 0;
   }

   .evo_posts {
      position: relative;
      display: block;
      padding: 4px;
      // max-width: 100%;
      overflow: hidden;
      z-index: 1;


      // Posts One Column
      // ======================================================================== /
      &.one_column {
         margin: 0 auto 60px;
         width: 100%;
      }

      // Posts Three Column
      // ======================================================================== /
      &.three_column {
         float: left;
         margin: 0 auto;
         // width: calc( 34.333% - 1px );

         .posts__info {
            padding: 20px;

            .posts__title {
               h3 {
                  font-size: 2.8rem;
               }
            }

            &_author,
            &_cat {
               font-size: 1.3rem;
            }

            &_author {
               .author_avatar {
                  img {
                     width: 34px;
                     height: 34px;
                     margin-right: 3px;
                  }
               }

            }

         }

         .posts_divider {
            bottom: 30px;
            left: 20px;
         }

         .main__posts_content {

            &:hover, &:active, &:focus {
               .posts__title,
               .posts__info_author,
               .posts__info_date,
               .posts__info_cat {
                  transform: translateY(-40px);
               }
            }

         }

      }

      // Main Posts Content
      // ======================================================================== /
      .main__posts_content {
         position: relative;

         &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 72%;
            bottom: 0;
            left: 0;
            background: linear-gradient(to bottom, rgba(25, 26, 28, 0) 0%, rgba(25, 26, 28, 0) 18%, rgba(25, 26, 28, 0.8) 88%, #26282d 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00191a1c', endColorstr='#191a1c',GradientType=0 ); /* IE6-9 */
            transition: all 0.32s ease-in;
            opacity: 0.6;
            z-index: 0;
         }
      }

      .evo__post_link {
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         z-index: 10;
      }

      // Feature Image
      // ======================================================================== /
      .feature__image {
         position: relative;
         display: table-row;
         width: 920px;
         height: auto;

         img {
            opacity: 0.95;
         }
      }

      // Posts Info
      // ======================================================================== /
      .posts__info {
         position: absolute;;
         bottom: 0;
         left: 0;
         // background: @w;
         padding: 30px;
         width: 100%;
         text-align: left;
         z-index: 2;

         &_date,
         &_author{
            position: relative;
            display: inline-block;

            transition: all 0.32s ease-in-out;
            transition-delay: 0.1s;
            transition-duration: 0.5s;
         }

      }


      // Posts Info Category
      // ======================================================================== /
      .posts__info_cat {
         display: block;
         margin-bottom: 15px;

         transition: all 0.32s ease-in-out;
         transition-delay: 0.18s;
         transition-duration: 0.5s;

         a {
            font-family: @font_heading;
            font-size: 1.1rem;
            letter-spacing: 1px;
            color: @w;
            padding: 3px 8px;
            border: 1px solid @w;
            border-radius: 2px;
            transition: all 0.32s ease;

            &:hover, &:active, &:focus {
               text-decoration: none;
               background-color: @primary;
               border-color: @primary;
            }
         }
      }

      // Posts Title
      // ======================================================================== /
      .posts__title {
         position: relative;
         margin-bottom: 12px;

         transition: all 0.32s ease-in-out;
         transition-delay: 0.13s;
         transition-duration: 0.5s;

         h3 {
            font-family: @font_heading;
            font-size: 3.6rem;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: capitalize;
            margin: 0;
            padding: 0;
            text-align: left;

            a {
               color: @w;

               &:hover, &:active, &:focus {
                  text-decoration: none;
               }
            }
         }

      }

      // Posts Info Author
      // ======================================================================== /
      .posts__info_author {
         position: relative;
         display: inline-block;
         padding-right: 5px;
         color: @w;

         .author_avatar {

            img {
               border-radius: 50%;
               width: 40px;
               height: 40px;
            }

         }

         .identity_link_username {
            color: @w;
            letter-spacing: 0.5px;

            &:hover {
               text-decoration: underline;
            }
         }

      }


      // Posts Info Date
      // ======================================================================== /
      .posts__info_date {
         padding-right: 5px;
         color: @w;
      }


      // Posts Divider
      // ======================================================================== /
      .posts_divider {
         position: absolute;
         bottom: 45px;
         left: 30px;
         width: 0;
         height: 2px;
         z-index: 1;
         background-color: @primary;

         visibility: hidden;
         transition: all 0.3s ease-in-out;
      }


      // When Evo Post Hover Action
      // ======================================================================== /
      .main__posts_content:hover {
         transition: all 0.32s ease-in-out;

         &::after {
            opacity: 1;
            transition: all 0.32s ease-in-out;
            height: 100%;
         }

         .posts__info_cat {
            transform: translateY( -50px );
            transition-delay: 0.04s;
            transition-duration: 0.4s;
         }

         .posts__title {
            transform: translateY( -50px );
            transition-delay: 0.05s;
            transition-duration: 0.5s;
         }

         .posts__info_author,
         .posts__info_date {
            transform: translateY( -50px );
            transition-delay: 0.07s;
            transition-duration: 0.6s;
         }

         .posts_divider {
            visibility: visible;
            width: 80px;
            transition-delay: 0.08s;
            transition: all 0.32s ease-in-out;
            transition-duration: 1.2s;
         }

      }

   }



}
