// ======================================================================== /
// Posts Style
// ======================================================================== /
.posts_list {
   max-width: 1000px;
   width: 100%;
   height: auto;
   margin: 0 auto;

   img {
      max-width: 100%;
      height: auto;
      border-radius: 0;
   }

   .evo_posts {
      display: inline-block;
      position: relative;
      max-width: 100%;
      overflow: hidden;
      margin-bottom: 60px;

      .feature_image {
         display: table-row;
         width: 920px;
         height: auto;

         img {
            opacity: 0.95;
         }
      }

      .evo_post_title {


         h3 {
            font-family: @font_heading;
            font-size: 1.5rem;
            margin: 0;
            padding: 0;

            position: absolute;
            top: 50px;
            left: 0;
            z-index: 2;

            a {
               padding: 15px 20px;
               background-color: @primary;
               color: @w;

               &:hover, &:active, &:focus {
                  text-decoration: none;
               }
            }
         }
      }

   }



}
