// ======================================================================== /
// Import the disp style
// ======================================================================== /
@import "assets/less/disp/_disp_front";
@import "assets/less/disp/_disp_catdir";
@import "assets/less/disp/_disp_posts";
@import "assets/less/disp/_disp_single";
@import "assets/less/disp/_disp_404";
@import "assets/less/disp/_disp_mediaidx";
@import "assets/less/disp/_disp_search";
@import "assets/less/disp/_disp_postidx";
@import "assets/less/disp/_disp_sitemap";
@import "assets/less/disp/_disp_contact";
@import "assets/less/disp/_disp_arcdir";

// Style On Disp Profile
// ======================================================================== /
// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}

.disp_help,
.disp_tags {

	.main_content {
		background-color: @w;
		padding: 30px;
		box-shadow: @box-shadow;

		h2 {
			margin-top: 0;
		}
	}

	.tag_cloud {

		a {
			display: inline-block;
			font-size: 1.3rem !important;
			border-radius: 30px;
			border: 1px solid @primary;
			color: @primary;
			padding: 10px 20px;
			margin-bottom: 4px;

			&:hover, &:focus, &:active {
				background-color: @primary;
				color: @w;
				text-decoration: none;
			}
		}

	}

}
