// ======================================================================== /
// Import the disp style
// ======================================================================== /
@import "assets/less/disp/_disp_catdir";
@import "assets/less/disp/_disp_posts";
@import "assets/less/disp/_disp_single";
@import "assets/less/disp/_disp_404";
@import "assets/less/disp/_disp_mediaidx";
@import "assets/less/disp/_disp_search";

// Style On Disp Profile
// ======================================================================== /
// Profile tabs on ?disp=profile
ul.profile_tabs {
	margin: 0 2ex 2ex;
	position: relative;
	top: 1px;
}

.profile_avatar {
	float: right;
	padding: 10px;
	margin-left: 10px;
}
