// ======================================================================== /
// Main Header
// ======================================================================== /
.main_header {
   position: relative;
   height: 500px;
   background-image: url('assets/images/header/header-3.jpg');
   // background-repeat: no-repeat;
   background-position: 50% 50%;
   background-size: cover;
   margin-top: -16px;
   z-index: 0;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba( 0, 0, 0, 255 );
      opacity: 0.2;
      z-index: -1;
   }

   @media screen and ( max-width: @S ) {
      height: 260px;
   }

   // Brand Style
   // ======================================================================== /
   .brand {
      position: absolute;
      max-width: 1170px;
      top: 38%;
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;

    //   @media screen and ( min-width: 1440px ) {
    //      max-width: 1410px;
    //   }

      .evo_widget{

         &.widget_core_coll_title {

            h1 {
               font-family: @font_heading;
               font-size: 4.6rem;
               font-weight: 700;
               letter-spacing: 2px;
               text-transform: uppercase;
               margin: 0;
            }

            a {
               color: @w;
               text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.3 );

               &:hover, &:active, &:focus {
                  text-decoration: none;
               }

               @media screen and ( max-width: @M ) {
                  font-size: 3.8rem;
               }

               @media screen and ( max-width: @S ) {
                  font-size: 3.2rem;
               }
            }
         }

         &.widget_core_coll_tagline {
            font-size: 1.5rem;
            color: @w;
            text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.3 );

            @media screen and ( max-width: @M ) {
               font-size: 1.4rem;
            }

            @media screen and ( max-width: @S ) {
               font-size: 1.3rem;
            }
         }

      }
   }
}


// ======================================================================== /
// Main Navigation
// ======================================================================== /
.main_navigation {
   position: relative;
   width: 100%;
   max-width: 100%;
   background-color: @c1b;
   z-index: 997;

   .nav-tabs {
      position: relative;
      display: block;
      width: 100%;
   	margin: 0 auto;
      padding: 10px 0;
      text-align: center;
      list-style-type: none;
      border: none;

      li {
         display: inline-block;
         float: none;
         padding: 15px;
         margin: 0;

         &.active a {
            color: @w;
            background-color: transparent;
            border: none;

            &:hover, &:active, &:focus {
               cursor: pointer;
            }

            &::before, &:after {
               opacity: 1;
            }

            &::before {
               top: -8px;
            }

            &::after {
               bottom: -8px;
            }
         }

         &:hover, &:active, &:focus {
            // cursor: pointer;

            a {
               color: @w;
               background-color: transparent;

               &::before, &::after {
                  opacity: 1;
               }

               &::before {
                  top: -8px;
               }

               &::after {
                  bottom: -8px;
               }
            }
         }

      }

      a {
         position: relative;
         font-size: 1.4rem;
         font-weight: 400;
         text-transform: uppercase;
         letter-spacing: 0;
         color: @primary;
         padding: 0;
         margin: 0;
         border: none;
         border-radius: 0;
         transition: all 0.2s ease;

         &.selected {
            color: @w;
         }

         &:hover, &:active, &:focus {
            background-color: transparent;
         }

         &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            height: 1px;
            width: 100%;
            background-color: @w;
            opacity: 0;
            transition: all 0.2s ease-in-out;
         }

         &::before {
            top: 0;
         }

         &::after {
            bottom: 0;
         }

      }

   }

}

// Style Main Navigation when Sticky
// ======================================================================== /
.sticky-wrapper {
   width: 100% !important;

   &.is-sticky {

      .main_navigation {
         box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
      }

      .nav-tabs {
         padding: 6px 0;
         transition: all 0.32s ease;

         li {
            padding-left: 12px;
            padding-right: 12px;
            transition: all 0.32s ease;
         }

         a {
            font-size: 1.3rem;
            transition: all 0.32s ease;
         }

      }
   }

}

.loggedin {

   .sticky-wrapper.is-sticky {

      @media screen and ( min-width: @ML ) {
         .main_navigation {
            top: 25px !important;
         }
      }
   }

}
