// ======================================================================== /
// Main Header
// ======================================================================== /
.main_header {
   position: relative;
   height: 320px;
   background-image: url('assets/images/bg_header.jpg');
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   margin-top: -16px;

   // Widget Header
   // ======================================================================== /
   .evo_widget {
      position: relative;
      top: 100px;
      margin: 0 auto;
      text-align: center;

      &.widget_core_coll_title {
         // font-family: @font_heading;

         h1 {
            margin: 0;
         }

         a {
            font-size: 4.2rem;
            font-weight: 700;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: @w;
            text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.3 );

            &:hover, &:active, &:focus {
               text-decoration: none;
            }
         }
      }

      &.widget_core_coll_tagline {
         font-family: @font_heading;
         font-size: 1.5rem;
         color: @w;
         text-shadow: 2px 2px 2px rgba( 0, 0, 0, 0.3 );
      }

   }
}


.nav.nav-tabs {
	margin-top: 0;
}
