// Font
// ----------------------------------------
@font_heading: "Roboto Slab", sans-serif;
@font_body: "Montserrat", sans-serif;

// Layout - Breakpoints
// ======================================================================== /
@XS:   320px;
@S:    480px;
@MX:   600px;
@MF:   767px;
@M:    768px;
@MM:   991px;
@ML:   1025px;
@L:    1170px;

// Column Variable
// ======================================================================== /
@one_column:   100%;
@two_column:   50%;
@three_column: 33.32%;
@four_column:  100% / 4;


// Color Variable
// ======================================================================== /
@primary:       #18C54D;

@w8:            rgba( 255, 255, 255, 0.8 );
@w:             #FFFFFF;
@e:             #EEEEEE;
@b:             #000000;

@cf7:           #F7F7F7;
@ce:            #EEEEEE;
@ce6:           #E6E6E6;
@cd:            #DDDDDD;
@ca9:           #A9A9A9;
@c8c:           #8C8C8C;
@c7:            #777777;
@c5:            #555555;
@c4:            #444444;
@c3:            #333333;
@c2:            #222222;
@c1b:           #1B1B1B;

@box-shadow:    1px 2px 2px rgba( 0, 0, 0, 0.05 );

@bg_body:       #F6F6F6;
@bg_footer:     #0e1215;

@btn_view:      #3C474A;

// Tags
@tag_bg:        @c3;
@tag_col:       @w;

@btn_warning:           #F0AD4E;
@btn_danger:            #D9534F;
@btn_primary:           #337ab7;
@btn_primary_hover:     #286090;
@btn_info:              #5bc0de;
@btn_info_hover:        #31b0d5;

// User Link
@yahooim:       #7b0099;
@skype:         #00aff0;
@twitter:       #00aced;
@facebook:      #3b5998;
@google:        #dd4b39;
@linkedin:      #007bb6;
@github:        @c3;
@flickr:        #ff0084;
@youtube:       #b00;
@dig:           #356aa0;
@stumbleupon:   #eb4924;
@pinterest:     #cb2027;
