// ------------- Organization Members widget -------------
@import "../../rsc/less/_org_members_widget.module.less";
	// Override constants used in the module:
	@widget_core_org_members-color: #333;
	@widget_core_org_members-user-link-color: #000;
	@widget_core_org_members-user-link-hover-color: #23527c;
// -------------------------------------------------------

// ======================================================================== /
// Login widget form
// ======================================================================== /
.widget_core_user_login {
	#login_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
			text-align: left;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_login_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
	.register_link {
		display: block;
		padding-top: 10px;
	}
}

// Register widget form
// ======================================================================== /
.widget_core_user_register {
	#register_form {
		.form-group {
			margin: 0;
		}
		label {
			text-align: left;
			width: 160px;
			padding-left: 0;
		}
		.controls {
			padding: 0;
			width: 100%;
		}
		.form_text_input.form-control {
			width: 100%;
		}
	}
	.submit {
		font-size: 12px;
	}
	.field_register_btn {
		.panel {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				padding-left: 0;
				padding-right: 0;
				padding-bottom: 0;
				#submit_login_form {
					margin-right: 10px;
				}
			}
		}
	}
}


// Widget Profile Menu Link
// ======================================================================== /
.widget_core_profile_menu_link {
	.identity_link_username {
		text-transform: capitalize;
		padding-left: 5px;
	}
}


// Tag Cloud
// ======================================================================== /
.widget_core_coll_tag_cloud {
	.tag_cloud {
		a {
			display: inline-block;
			padding: 8px 15px;
			font-size: 1.2rem !important;
			border-radius: 30px;
			border: 1px solid @primary;
			margin-bottom: 5px;

			&:hover, &:active, &:focus {
				text-decoration: none;
				background-color: @primary;
				color: @w;
			}
		}
	}
}


// Search Form
// ======================================================================== /
.widget_core_coll_search_form {

	.compact_search_form {

		.search_field,
		.search_submit {
			padding: 12px 15px;
			box-shadow: none;
			border-radius: 0;
		}

		.search_field {
			border: 1px solid @w;
			height: auto;
		}

		.search_submit {
			padding-left: 18px;
			padding-right: 18px;
			border: 1px solid @primary;
			background-color: @primary;
			margin-left: 0;
		}
	}

}


// Widget Plugin Calendar
// ======================================================================== /
.widget_plugin_evo_Calr {
	.bCalendarTable {
		font-size: 100%;

		caption {
			font-family: @font_heading;
			font-size: 1.8rem;
			text-transform: uppercase;
			padding: 15px;
			border: 1px solid @primary;
			border-bottom: 0;
		}

		th, td {
			max-width: 60px;
			width: 10ex;
			padding: 8px 5px;
			font-size: 100%;
			text-align: center;
		}

		th {
			font-family: @font_heading;
			letter-spacing: 1px;
			border: 1px solid @primary;
			border-right: 0;

			&:last-child {
				border-right: 1px solid @primary;
			}
		}

		td {
			border-bottom: 1px solid @primary;
			border-left: 1px solid @primary;

			&:last-child {
				border-right: 1px solid @primary;
			}
		}

		tbody {
			border-top: 1px solid @primary;

			& > tr:first-child {
				border-top: 1px solid @primary;
			}
		}

		#bCalendarToday {
			border-radius: 0;
			background-color: @primary;
			color: @w;
			border-color: @primary;
		}

	}
}


// Widget Core Poll
// ======================================================================== /
.widget_core_poll {
	.SaveButton {
		border-radius: 2px;
		padding: 8px 16px;
		font-size: 1.2rem;
		text-transform: uppercase;
		background-color: @primary;
		border-color: @primary;
		color: @w;
	}
}
