// ------------- Organization Members widget -------------
@import "../../rsc/less/_org_members_widget.module.less";
	// Override constants used in the module:
	@widget_core_org_members-color: #333;
	@widget_core_org_members-user-link-color: #000;
	@widget_core_org_members-user-link-hover-color: #23527c;
// -------------------------------------------------------
